include header
block content
    div(id="sideNav", class="sidenav", onmouseenter="openNav()", onmouseleave="closeNav()")
        a(class="link", href="/dashboard")
            div(class="btn btn-outline-primary")
                div(class="fas fa-home")
            p(class="text") Home
        a(class="link", href="#")
            div(class="btn btn-outline-primary")
                div(class="fas fa-home")
            p(class="text") Statistics
    main
        include storage
        include statistics
include footer
script(src="/javascripts/dashboard/statistics.js")