include header
block content
    div(id="sideNav", class="sidenav")
        a(href="javascript:void(0)", class="btn btn-outline-primary", onclick="closeNav()") &times;

    span(onclick="openNav();") Nav
include footer