div(class="container")
    div(class="card")
        div(class="card-body")
            div(id="chartContainer", style="height: 370px; width: 100%")

    div(class="card")
        div(class="card-body")
            div(id="chartDoughContainer", style="height: 370px; width: 100%")

    div(class="card")
        div(class="card-body")
            div(id="chartAreaContainer", style="height: 370px; width: 100%")