extends ./../layout
block content
    div(class="container justify-content-between")
        div(class="row")

           each arrz in arrayz
                div(class="col-3")
                    div(class="card", style="width: 250px;margin-top: 20px;")
                        img(class="card-img-top", src="https://smittenkitchendotcom.files.wordpress.com/2017/08/german-chocolate-wedding-cake.jpg?w=750", alt="some image here")
                        div(class="card-body")
                            h5(class="card-title")=arrz.cake_name
                            p(class="card-text")=arrz.cake_size
                            a(href="#", class="btn btn-primary", id="addToCart") want money
                            p(class="card-text float-right")=arrz.cake_price